@(active: Option[String])
@import models.Navbar

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle collapsed" type="button"
                    data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="@routes.HomeController.index">MGamers</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">

                @navbar_item(active, routes.HomeController.index().toString(), Navbar.home)
                @navbar_item(active, routes.HomeController.about().toString(), Navbar.about)
                @navbar_item(active, routes.HomeController.contact().toString(), Navbar.contact)
            </ul>
        </div>
    </div>
</nav>
